:root {
    --order-status-color-green: #6BA342;
    --order-status-bg-green: #E3FAC6;
    --order-status-color-purple: #855C98;
    --order-status-bg-purple: #EFD5FF;
    --order-status-color-orange: #DE8230;
    --order-status-bg-orange: #FFF0D4;
    --order-status-color-blue: #384B9A;
    --order-status-bg-blue: #DEE4FF;
    --order-status-color-red: #BF2531;
    --order-status-bg-red: #FFDCD5;
}

.orders__new-order, 
.orders__framed  {
    color: var(--order-status-color-green);
    background: var(--order-status-bg-green);
}

.orders__awaiting {
    color: var(--order-status-color-orange);
    background: var(--order-status-bg-orange);
}

.orders__completed {
    color: var(--order-status-color-blue);
    background: var(--order-status-bg-blue);
}

.orders__in-processing {
    color: var(--order-status-color-purple);
    background: var(--order-status-bg-purple);
}

.orders__canceled {
    color: var(--order-status-color-red);
    background: var(--order-status-bg-red);
}


/* Сортировка */
.orders__sorting-btn svg {
    transform: rotate(90deg);
}

.orders__sorting-btn {
    position: relative;
    width: 191px;
    height: 30px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background: var(--white-color);
    border: 1px solid var(--main-color-blue);
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: var(--main-color-blue);
    padding: 0 9px;
    cursor: pointer;
    user-select: none;
    margin-right: 24px;
}

.orders__sorting-list {
    position: absolute;
    top: 27px;
    left: -1px;
    width: 191px;
    height: auto;
    background: var(--white-color);
    border: 1px solid var(--main-color-blue);
    border-radius: 0px 0px 4px 4px;
    color: var(--main-color-blue);
    display: none;
}

.orders__sorting-item:hover {
    background: #e7eaf6;
}

.orders__sorting-item {
    border-bottom: 1px solid #D0D4E7;
    padding: 8px 9px;
}

.orders__sorting-item:last-child {
    border: none;
}

.orders__sorting-btn.active .orders__sorting-list {
    display: block;
}

.orders__sorting-btn.active .chevron-right {
    transform: rotate(270deg);
}
/* END Сортировка */

.orders__warning-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF4D7;
    padding: 12px 23px 14px;
    border-radius: 8px 8px 0px 0px;
}

.orders__warning {
    display: flex;
    align-items: center;
}

.orders__options {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 64px 0 32px;
}

.orders__item {
    background: var(--white-color);
    border: 1px solid #ECEDF1;
    border-radius: 8px;
    margin-bottom: 32px;
}

.orders__item.orders__new-order {
    padding-top: 16px;
}

.orders__item:last-child {
    margin-bottom: 0;
}

.btn {
    background: transparent;
    cursor: pointer;
    user-select: none;
}

.orders__heading {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--main-color-black);
}

.orders__timer {
    margin-left: 10px;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: var(--main-color-black);
}

.btn__cancel {
    color: #828282;
    font-size: 14px;
    line-height: 16px;
    margin-right: 32px;
}

.btn__confirm {
    padding: 7px 18px;
    color: #fff;
    background: var(--green-btn);
    border-radius: 4px;
    font-size: 14px;
    line-height: 16px;
}

.orders__content {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 32px 24px;
}

.orders__row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 32px;
}

.orders__name {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: var(--main-color-blue);
    margin-right: 24px;
}

.orders__variations {
    padding: 4px 18px;
    border-radius: 40px;
    user-select: none;
}

.orders__data {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--not-main-color-blue);
    margin-bottom: 4px;
}

.orders__amount,
.orders__refusal {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--not-main-color-blue);
}

.orders__price {
    margin-bottom: 36px;
    font-size: 20px;
    line-height: 23px;
    color: var(--main-color-blue);
}

.orders__view-order {
    padding: 11px 33px;
    border: 1px solid var(--not-main-color-blue);
    border-radius: 4px;
    color: var(--not-main-color-blue);
    display: block;
    user-select: none;
}

.orders__holder {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.sale_counter_time_actDeath {
    display: flex;
}

.orders__item-wrap {
    margin-bottom: 70px;
}

/* popup */
.orders__succes-popup,
.orders__сancellations-popup {
    display: none;
}

.orders__succes-popup.active,
.orders__сancellations-popup.active {
    display: block;
}

.orders__popup-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 638px;
    height: 253px;
    background: var(--white-color);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 16;
}

.orders__close {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.popup-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: var(--main-color-blue);
    margin-bottom: 6px;
}

.popup-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: var(--not-main-color-blue);
    margin-bottom: 42px;
}

.btn-popup {
    padding: 16px 40px;
    border-radius: 4px;
}

.popup-btn__cancel {
    border: 1px solid var(--not-main-color-blue);
    margin-right: 26px;
}

.popup-btn__confirm {
    background: var(--green-btn);
    color: var(--white-color);
}

.popup-btn__cancellations {
    background: var(--red-color);
    color: var(--white-color);
}
/* popup */

.js-little-time {
    background: var(--order-status-bg-red);
}

/* orders-internal */

.orders-internal__warning-wrap,
.orders-internal__notice-wrap {
    border-radius: 8px;
}

.orders-internal__notice-wrap {
    background: #FFF4D7;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 12px 23px 14px;
    color: var(--main-color-black);
    margin-top: 20px;
}

.orders-internal__warning-wrap {
    margin-top: 20px;
}

.orders-internal__notice-text {
    width: 75%;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.orders-internal__notice-close {
    cursor: pointer;
}

.orders-internal__title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.orders-internal__title {
    margin: 44px 0 25px;
    padding: 0px 25px 0px 21px;
}

.orders-internal__row,
.orders-internal__data {
    margin-bottom: 0;
}

.orders-internal__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 13px 25px 13px 21px;
    background: var(--main-color-blue);
    color: var(--white-color);
    font-size: 14px;
    line-height: 16px;
    border-radius: 7px 7px 0px 0px;
    user-select: none;
    font-weight: 400;
}

.orders-internal__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 25px 20px 21px;
    background: var(--white-color);
    color: var(--main-color-black);
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    border-bottom: 1px solid var(--border-color);
}

.orders-internal__content {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 40px 25px 24px 21px;
}

.orders-internal__choose {
    display: flex;
    justify-content: space-between;
}

.orders-internal__added {
    margin-right: 41px;
}

.orders-internal__name {
    min-width: 326px;
    max-width: 326px;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.orders-internal__article {
    min-width: 81px;
    max-width: 81px;
    display: flex;
    justify-content: center;
}

.orders-internal__color {
    min-width: 145px;
    max-width: 145px;
    display: flex;
    justify-content: center;
}

.orders-internal__size {
    min-width: 50px;
    max-width: 50px;
    display: flex;
    justify-content: center;
}

.orders-internal__amount {
    min-width: 77px;
    max-width: 77px;
    display: flex;
    justify-content: center;
}

.orders-internal__price {
    min-width: 70px;
    max-width: 70px;
    display: flex;
    justify-content: center;
}

.orders-internal__added {
    min-width: 64px;
    max-width: 64px;
    display: flex;
    justify-content: center;
}

.orders-internal__not-added {
    min-width: 77px;
    max-width: 77px;
    display: flex;
    justify-content: center;
}

.orders-internal__prices {
    margin-bottom: 16px;
}

.orders-internal__amounts {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 4px;
    color: var(--not-main-color-blue);
} 

.orders-internal__prices,
.orders-internal__amounts {
    display: block;
}

.orders-internal__good-product {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--not-main-color-blue);
}

.orders-internal__holder {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.orders-internal__btn._green {
    border: 1px solid #6BA342;
    border-radius: 4px;
    background: #fff;
    color: #6BA342;
    padding: 11px 24px 12px;
    width: 250px;
    cursor: pointer;
}

.orders-internal__btn._gray {
    color: #BDBDBD;
    background: #fff;
    padding: 11px 24px 12px;
    cursor: pointer;
    text-decoration-line: underline;
    margin-right: 24px;
}

.orders-internal__body {
    border: 1px solid #DFE2ED;
    border-radius: 8px;
    background: var(--white-color);
}

/* Стилизация радио кнопок */
.orders-internal__radio {
    opacity: 0;
    position: absolute;
}

.orders-internal__radio + label{
    display: block;
    width: 22px;
    height: 22px;
    border: 1px solid var(--main-color-black);
    text-align: center;    
}

.orders-internal__radio._added + label:before {
    background: #E3FAC6;
}

.orders-internal__radio._not-added + label:before {
    background: #FFDCD4;
}

.orders-internal__radio + label:before{
    content: '\2713';
    display: inline-block;
    color: var(--main-color-black);
    font-size: 22px;
    line-height: 22px;
    transform: scale(0);
    transition: 0.3s;
    width: 100%;
    height: 100%;
}
.orders-internal__radio:checked + label:before{    
    transform: scale(1);
}
/* END Стилизация радио кнопок */
.orders-internal__body-wrap {
    margin-bottom: 200px;
}

.orders-internal__ready-to-receive,
.orders-internal__lack-goods {
    display: none;
}

.orders-internal__ready-to-receive.active,
.orders-internal__lack-goods.active {
    display: block;
}

/* Скрываю блоки для нового заказа */
.orders-internal__form.new-order .orders-internal__choose,
.orders-internal__form.new-order .orders-internal__box  .orders__btn-wrap,
.orders-internal__form.new-order .orders-internal__notice-wrap,
.orders-internal__form.new-order .orders-internal__good-product {
    display: none;
}

/* Скрываю блоки для заказа в обработке*/
.orders-internal__form.in-processing .orders-internal__warning-wrap  {
    display: none;
}

/* Скрываю блоки для других заказов */
.orders-internal__form.order-ready .orders-internal__warning-wrap, 
.orders-internal__form.order-ready .orders-internal__notice-wrap,
.orders-internal__form.order-ready .orders-internal__box  .orders__btn-wrap,
.orders-internal__form.order-ready .orders-internal__choose,
.orders-internal__form.order-ready .orders-internal__good-product {
    display: none;
}


/*END orders-internal */

/* адаптив */
@media screen and (max-width: 1349px) {

    /* .orders-internal__body-wrap, */
    .orders-internal__item-wrap {
        overflow: auto;
        overflow-y: hidden;
    }

    /* .orders-internal__body, */
    .orders-internal__item,
    .orders-internal__header {
        width: 1175px;
    }

    .orders-internal__item-wrap::-webkit-scrollbar {
        width: 15px;
        height: 8px;
    }

    .orders-internal__item-wrap::-webkit-scrollbar-track {
        background: #ECEDF1;
    }

    .orders-internal__item-wrap::-webkit-scrollbar-thumb {
        background: #D4D8E8;
        border-radius: 15px;
    }

    .orders-internal__name {
        min-width: 279px;
        max-width: 279px;
    }



}

@media screen and (max-width: 1024px) {

    .orders__warning-wrap {
        flex-direction: column;
        align-items: flex-start;
    }

    .orders__warning {
        margin-bottom: 8px;
    }

    .orders-internal__notice-wrap {
        padding: 16px 12px;
    }

    .orders-internal__notice-text {
        width: 95%;
    }

    .icon-orders-internal {
        width: 14px;
        height: 14px;
    }

    .orders-internal__warning-wrap .orders__btn-wrap {
        flex-direction: row;
        align-items: center;
    }

    .orders-internal__box .orders__btn-wrap {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .orders-internal__btn._gray {
        padding: 11px 0px 12px;
        margin-right: 0;
    }

    .orders-internal__body-wrap {
        margin-bottom: 120px;
    }
}

@media screen and (max-width: 767px) {

    .orders__options {
        padding: 0 0 40px;
    }

    .orders__warning {
        display: block;
    }

    .orders__content {
        flex-direction: column;
    }

    .orders__box {
        width: 100%;
    }

    .orders__row {
        justify-content: space-between;
        width: 100%;
    }

    .orders-internal__item, 
    .orders-internal__header {
        width: 790px;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
    }

    .orders-internal__name {
        min-width: 102px;
        max-width: 102px;
        -webkit-line-clamp: 3;
    }

    .orders-internal__article {
        min-width: 61px;
        max-width: 61px;
    }

    .orders-internal__color {
        min-width: 108px;
        max-width: 108px;
    }

    .orders-internal__size {
        min-width: 42px;
        max-width: 42px;
    }

    .orders-internal__amount {
        min-width: 66px;
        max-width: 66px;
    }

    .orders-internal__price {
        min-width: 60px;
        max-width: 60px;
    }

    .orders-internal__added {
        min-width: 55px;
        max-width: 55px;
    }

    .orders-internal__not-added {
        min-width: 66px;
        max-width: 66px;
    }

    .orders-internal__radio + label {
        width: 18px;
        height: 18px;
    }

    .orders-internal__data {
        display: none;
    }

    .orders-internal__title {
        margin: 20px 0;
        padding: 0;
    }

    .orders-internal__content {
        flex-direction: column;
    }

    .orders-internal__box {
        width: 100%;
    }
}

@media screen and (max-width: 481px) {

    /* Модальные окна */
    .orders__popup-inner {
        width: 100%;
        height: auto;
        padding: 60px 13px 48px;
    }

    .popup-title {
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
    }

    .popup-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 32px;
    }

    .orders__popup-btn-wrap {
        display: flex;
        flex-direction: column;
        width: 100%;

        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
    }

    .popup-btn__cancel {
        padding: 14px;
        width: 100%;
        margin-bottom: 12px;
    }
    /*END Модальные окна */

    .orders__options {
        flex-direction: column;
    }

    .orders__sorting-btn {
        width: 100%;
        margin: 0 0 12px;
    }

    .orders__sorting-list {
        width: 100%;
        z-index: 2;
    }

    .orders__text-btn {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
    }

    .orders__sorting-list {
        box-sizing: content-box;
    }

    .notices__date-picker {
        width: 100%;
    }

    .notices__input-wrap {
        width: inherit;
    }
    
    .notices__input {
        width: inherit;
    }

    .orders__heading,
    .orders__timer {
        font-size: 12px;
        line-height: 17px;
    }

    .orders__warning-wrap {
        padding: 8px 10px;
    }

    .sale_counter_time_h,
    .sale_counter_time_m {
        font-weight: 700;
    }

    .orders__content {
        padding: 26px 10px 16px;
    }

    .orders__name {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
    }

    .orders__variations {
        padding: 4px 10px;
    }

    .orders__variations {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
    }

    .orders__data,
    .orders__amount,
    .orders__refusal {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
    }

    .orders__holder {
        align-items: flex-start;
        margin-top: 24px;
    }

    .orders__price {
        margin-bottom: 8px;
    }

    .orders__view-order {
        width: 100%;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
    }

    .orders__content {
        padding: 16px 10px 16px;
    }

    .orders__timer {
        margin-left: 0px;
    }

    .orders__name {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
    }
    
    .orders-internal__prices,
    .orders-internal__prices span {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
    }

    .orders-internal__good-product {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
    }

    .orders__btn-wrap {
        margin-top: 20px;
    }

    .orders-internal__btn._gray {
        padding: 0 0 11px;
    }

    .orders-internal__btn._green {
        width: 100%;
    }

    .orders-internal__header,
    .orders-internal__item,
    .orders-internal__content {
        padding: 10px 9px;
    }

    .orders-internal__content {
        margin-top: 24px;
    }

    .orders-internal__warning-wrap .orders__btn-wrap {
        margin-top: 8px;
    }
}
